<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Adapter Contracts">
            <directory>src/adapters/contracts/tests</directory>
        </testsuite>
        <testsuite name="Library">
            <directory>src/library/tests</directory>
        </testsuite>
        <testsuite name="Database Adapter">
            <directory>src/adapters/db/tests</directory>
        </testsuite>
        <testsuite name="Directory Adapter">
            <directory>src/adapters/directory/tests</directory>
        </testsuite>
        <testsuite name="ZIP Adapter">
            <directory>src/adapters/zip/tests</directory>
        </testsuite>
        <testsuite name="Typed Plugin">
            <directory>src/plugins/typed/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/contracts/src</directory>
            <directory>src/adapters/contracts/src</directory>
            <directory>src/library/src</directory>
            <directory>src/adapters/db/src</directory>
            <directory>src/adapters/directory/src</directory>
            <directory>src/adapters/zip/src</directory>
            <directory>src/plugins/typed-contracts/src</directory>
            <directory>src/plugins/typed/src</directory>
        </include>
    </source>
</phpunit>
