<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Adapter Contracts">
            <directory>src/adapters/contracts/tests</directory>
        </testsuite>
        <testsuite name="Library">
            <directory>src/library/tests</directory>
        </testsuite>
        <testsuite name="Database Adapter">
            <directory>src/adapters/db/tests</directory>
        </testsuite>
        <testsuite name="Directory Adapter">
            <directory>src/adapters/directory/tests</directory>
        </testsuite>
        <testsuite name="ZIP Adapter">
            <directory>src/adapters/zip/tests</directory>
        </testsuite>
        <testsuite name="Typed Plugin">
            <directory>src/plugins/typed/library/tests</directory>
        </testsuite>
        <testsuite name="Encryption Plugin">
            <directory>src/plugins/encryption/library/tests</directory>
        </testsuite>
        <testsuite name="Encryption Sodium">
            <directory>src/plugins/encryption/sodium/tests</directory>
        </testsuite>
        <testsuite name="Encryption PhpSecLib">
            <directory>src/plugins/encryption/phpseclib/tests</directory>
        </testsuite>
        <testsuite name="Data Integrity Plugin">
            <directory>src/plugins/data-integrity/library/tests</directory>
        </testsuite>
        <testsuite name="Data Integrity Sodium">
            <directory>src/plugins/data-integrity/sodium/tests</directory>
        </testsuite>
        <testsuite name="Data Integrity Hash">
            <directory>src/plugins/data-integrity/hash/tests</directory>
        </testsuite>
        <testsuite name="Data Integrity PhpSecLib">
            <directory>src/plugins/data-integrity/phpseclib/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/contracts/src</directory>
            <directory>src/adapters/contracts/src</directory>
            <directory>src/library/src</directory>
            <directory>src/adapters/db/src</directory>
            <directory>src/adapters/directory/src</directory>
            <directory>src/adapters/zip/src</directory>
            <directory>src/plugins/typed/contracts/src</directory>
            <directory>src/plugins/typed/library/src</directory>
            <directory>src/plugins/encryption/contracts/src</directory>
            <directory>src/plugins/encryption/library/src</directory>
            <directory>src/plugins/encryption/sodium/src</directory>
            <directory>src/plugins/encryption/phpseclib/src</directory>
            <directory>src/plugins/data-integrity/contracts/src</directory>
            <directory>src/plugins/data-integrity/library/src</directory>
            <directory>src/plugins/data-integrity/sodium/src</directory>
            <directory>src/plugins/data-integrity/hash/src</directory>
            <directory>src/plugins/data-integrity/phpseclib/src</directory>
        </include>
    </source>
</phpunit>
